<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <!--<compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />-->
    </system.web>
  <connectionStrings>
    <add name="WeatherDataConnectionString"
         providerName ="System.Data.SqlClient"
                 connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDBFilename=|DataDirectory|\Database1.mdf;Initial Catalog=Database1;Integrated Security=True;MultipleActiveResultSets=True"/>

          <!--connectionString="Server=.\SQLEXPRESS;Initial Catalog=Database1;MultipleActiveResultSets=True;User Instance=true"/>-->
  <!--;AttachDBFilename=|DataDirectory|\Database1.mdf-->
  </connectionStrings>

</configuration>
